<div id="navbar">
  <a href="#default" id="logo">Prerequisite Class Checker</a>
  <div id="navbar-right">
    <a href="home">Home</a>
    <a href="viewPossible">Check Classes</a>
    <a href="login">Login</a>
  </div>
</div>
