<div id="navbar">
  <a href="/" id="logo">Prerequisite Class Checker</a>
  <div id="navbar-right">
    <a href="home">Home</a>
    <a href="searchClasses">Search Classes</a>
	<a href="login">Login</a>
  </div>
</div>
