{{#if loggedIn}}
		<div class="clicky">
		  <a href="deleteAccount">Delete your account</a>
		</div>
{{else}}
		<form acrion="./login" method="post">
			{{#if message}}
			<h2 style="color:red">{{message}}</h2>
			{{/if}}
			<input type="text" name="username" placeholder="username"></input>
			<input type="submit" value="Submit"></input>
		</form>
{{/if}}
