<div id="forms">
  <!-- change this action to whatever it needs to be to send the data -->
  <form action="/home" method="post">
    <label for="classesWanted">Classes Wanted</label>
    <input {{#if classesWanted}}value="{{classesWanted}}"{{/if}} type="text" id="classesWanted" name="classesWanted" placeholder="List classes you want to take.. (ex. 'CS 162, CS 290')">

    <label for="classesTaken">Classes Taken</label>
    <input {{#if classesTaken}}value="{{classesTaken}}"{{/if}} type="text" id="classesTaken" name="classesTaken" placeholder="List classes you have taken.. (ex. 'CS 161, CS 160')">

    <input type="submit" value="Submit" onclick="">
  </form>
</div>
{{#if classesNeeded}}
<h1>Classes Needed:</h1>
<p>{{{classesNeeded}}}</p>
{{/if}}
