<div id="forms">
  <!-- change this action to whatever it needs to be to send the data -->
  <form action="/#check">
    <label for="classesWanted">Classes Wanted</label>
    <input type="text" id="classesWanted" name="classesWanted" placeholder="List classes you want to take..">

    <label for="classesTaken">Classes Taken</label>
    <input type="text" id="classesTaken" name="classesTaken" placeholder="List classes you have taken..">

    <input type="submit" value="Submit">
  </form>
</div>
