/* -------------------------------------------------------------------- */
/* Styling for header on all pages */

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #efdbdb;
  padding: 30px 15px; /* Large padding which will shrink on scroll (using JS) */
  position: relative; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  padding-right: 30px;
}

/* -------------------------------------------------------------------- */
/* Styling for the forms and button */
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#forms div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


/* -------------------------------------------------------------------- */
/* Styling for 404 page */

.error-container {
  margin-top: 50px;
  text-align: center;
}

.error-container h2 {
  margin: 10px 0;
  font-size: 96px;
  font-weight: 100;
}

.error-container h3 {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 400;
}


/* -------------------------------------------------------------------- */
/* Styling for viewPossible Boxes */

.class-container {
	margin: 50px 10%;
	display: flex;
	flex-wrap: wrap;
	}

  .class-card {
    flex: 0 1 28%;
    display: flex;
    margin: 2px;
    padding: 20px;
    border: 1px solid #dadada;
    border-radius: 2px;
    background-color: #fff;
  }


  .class-name {
    flex: 1 1 80%;
    margin-left: 10px;
  }

  .class-name p {
    margin: 0;
  }

  .class-name {
    margin-top: 8px;
    text-align: left;
    font-weight: bold;
  }
